body {
    font-size: 25px;
}

.game {
    text-align: center;
    padding: 200px 0;
}

.hide {
    display: none;
}

.game-area {
    display: flex;
    justify-content: center;
}

.car {
    width: 50px;
    height: 100px;
    background: transparent url('./assets/cars/player.png') center / cover no-repeat;
}